body {
    background-color: #A6192E;
    font-family: "Helvetica";
}

main {
    background-color: #222222;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px black;
    padding-bottom: 100px;
}

.whiteBox {
    background-color: whitesmoke;
    position: relative;
    top: 30px;
    padding-bottom: 50px;
}

.calculatorSection {
    border: 1px solid grey;
    background-color: #E8EDF0;
    width: 60%;
    position: relative;
    left: 30px;
}

.tableHeader {
    color: #A6192E;
    font-size: 26px;
    font-weight: bold;
    margin: 30px;
    padding-top: 20px;
}

.blurb1 {
    margin: 30px;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    padding-top: 100px;
    padding-left: 30px;
}

table {
    width: 90%;
    margin: 30px;
    table-layout: fixed;
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    font-size: 24px;
    text-align: left;
    padding: 10px;
}

tr:first-child { 
    background-color: #B8B8B8;
}

.activity {
    height: 40px;
    background-color: #E8EDF0;
}

input[type=text] {
    width: 55px;
    height: 40px;
    font-size: 24px;
}

.addActivity {
    margin: 30px;
}

.addActivity, .calcModes {
    background-color: #A6192E;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-family: "Helvetica";
    text-align: center;
    font-size: 20px;
}

.result {
    color: #A6192E;
    font-size: 26px;
    font-weight: bold;
    margin: 30px;
}

#grandTotal {
    color: black;
    font-size: 40px;
    font-weight: lighter;
}

.calcModeButtons {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 30px;
}